<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>CRED</string>
	<key>UIAppFonts</key>
	<array>
		<string>BRFirma-Thin.ttf</string>
		<string>BRFirma-ExtraLight.ttf</string>
		<string>BRFirma-Light.ttf</string>
		<string>BRFirma-Regular.ttf</string>
		<string>BRFirma-Medium.ttf</string>
		<string>BRFirma-SemiBold.ttf</string>
		<string>BRFirma-Bold.ttf</string>
		<string>BRFirma-Black.ttf</string>
	</array>
</dict>
</plist>
